.button-reserva {    
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 140px;
    text-transform: capitalize;
    background-color:  #FF5733 ;
    border-radius: 15px;    
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;    
}
.button-reserva a{
    text-decoration: none;
    color: white;
}
.boton-aceptar{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    display: inline-block;
    border: none;    
    background-color: #ff9800;
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  border: 2px solid #ff9800;
}
.boton-aceptar a{    
    text-decoration: none;            
    color: white;
}