.input-container {
    margin-bottom: 20px;
}
label{
    padding-right: 10px;
    font-size: medium;
    text-decoration: solid;
    text-transform: uppercase;
    font-style: italic;
}
input{       
    border: 2px solid #3498db;
    border-radius: 20px;
    padding: 12px;
    width: 300px;
 }
select{
    border: 2px solid #3498db;
    border-radius: 20px;
    padding: 12px;
    width: 300px;
}

form{
    max-width: 500px; 
    margin: 0 auto;
    padding: 15px;
}
