
.App {
    background-color: #fefefe;
    height: 100%;
    width: 100%;
    }
    

  .principal {
    grid-column: span 10;
    background-color: whitesmoke;
    height: 100vh;
    padding-left: 0.5rem;    
  }